<h1 class="text-center">Search</h1>

<form ng-submit="search()">
	<div class="col-md-6 col-md-offset-3">
	    <div class="input-group custom-search-form">
		    <input type="text" class="form-control" ng-model="searchTerm">
		    <span class="input-group-btn">
		    <button class="btn btn-default" type="button" ng-click="search()">
		    <span class="glyphicon glyphicon-search"></span>
		    </button>
		    </span>
	    </div><!-- /input-group -->
	</div>
</form>
<br><br><br>
<div class="mui-panel col-md-10 col-md-offset-1">
	<h4>Users</h4>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th> Name </th>
	            <th> Email </th>
	            <th> Profile</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in users_list">
	            <td><img src="{{item.picture}}" style="height: 30px; width: 30px"/> {{ item.first_name }} {{ item.last_name }}</td>
	            <td> {{ item.email }}</td>
	            <td><a target="_blank" href="#/user_profile/{{item.id}}"><button class="btn btn-primary">Go</button></a></td>
	        </tr>
	    </tbody>
	</table>
	<p class="text-center">{{ no_users }}</p>

	<h4>Teams</h4>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th> Name </th>
	            <th> Sport </th>
	            <th> Profile </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in teams_list">
	            <td><img src="{{item.picture}}" style="height: 30px; width: 30px"/> {{ item.name }}</td>
	            <td ng-init="item.sport_id=getSport(item)">{{ item.sport_id }}</td>
	            <td><a target="_blank" href="#/team_profile/{{item.url}}"><button class="btn btn-primary">Go</button></a></td>
	        </tr>
	    </tbody>
	</table>
	<p class="text-center">{{ no_teams }}</p>
</div>