<link rel="stylesheet" href="css/search.css">

<div class="row" style="height: 110px; background-color: white; border-bottom: 1px solid #e7e7e7;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="padding-left: 15px;">Search Items</h2>
            <p style="padding-left: 15px;">Search for different users and teams using the service.</p>
        </div>
    </div>
</div>

<div class="col-md-12" style="text-align: center; padding-top: 10px;">
<div class="mui-container" style="display: inline-block;;">
	<i ng-click="search()" style="float:left; padding-top: 23px; padding-right: 5px; color: #757E8D;" class="fa fa-search fa-lg"></i>
	<form style="float: left;" ng-submit="search()">
		<div class="mui-textfield">
		<input type="text" ng-model="searchTerm" placeholder="Search Term" style="width: 400px;">
		</div>
	</form>
</div>
</div>

<br><br><br>
<div class="mui-container">
<h5 style="color: #757E8D;"><b>USERS</b></h5>
<div class="mui-panel col-md-12">
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th style="width: 33%;"> Name </th>
	            <th style="width: 33%;"> Email </th>
	            <th style="width: 33%;"> Profile</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in users_list">
	            <td><img src="{{item.picture}}" style="height: 30px; width: 30px"/> {{ item.first_name }} {{ item.last_name }}</td>
	            <td> {{ item.email }}</td>
	            <td><a target="_blank" href="#/user_profile/{{item.id}}"><button style="padding: none;" class="mui-btn mui-btn--small mui-btn--primary">Go</button></a></td>
	        </tr>
	    </tbody>
	</table>
	<p class="text-center">{{ no_users }}</p>
</div>
</div>

<div class="mui-container" style="padding-top: 15px;">
<h5 style="color: #757E8D;"><b>TEAMS</b></h5>
<div class="mui-panel col-md-12">
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th style="width: 33%;"> Name </th>
	            <th style="width: 33%;"> Sport </th>
	            <th style="width: 33%;"> Profile </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in teams_list">
	            <td><img src="{{item.picture}}" style="height: 30px; width: 30px"/> {{ item.name }}</td>
	            <td ng-init="item.sport_id=getSport(item)">{{ item.sport_id }}</td>
	            <td><a target="_blank" href="#/team_profile/{{item.url}}"><button style="padding: none;" class="mui-btn mui-btn--small mui-btn--primary">Go</button></a></td>
	        </tr>
	    </tbody>
	</table>
	<p class="text-center">{{ no_teams }}</p>
</div>
</div>

<!--<div>
	<h4>Events</h4>
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th> Event </th>
	            <th> Date </th>
	            <th> Time </th>
	            <th> Location </th>
	            <th> Description </th>
                <th> Created By </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in events_list">
	            <td>{{ item.name }}</td>
	            <td> {{ item.date }}</td>
	            <td>{{ item.time }}</td>
	            <td>{{ item.location }}</td>
	            <td>{{ item.description }}</td>
                <td ng-init="item.creator=getCreator(item)">{{ item.creator }}</td>
	        </tr>
	    </tbody>
	</table>
	<p class="text-center">{{ no_events }}</p>
</div>-->
