<link type="text/css" rel="stylesheet" href="../css/channels.css">
<div class="row" style="height: 110px; border-bottom: 1px solid #e7e7e7;">
    <h2 style="padding-left: 15px;">FireSlack</h2>    
        <!-- Channels -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Channels<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="item in channels" ng-click="setChannel(item.id); setMessageType('Channel')">{{ item.name }}</li>
          </ul>
        </div>
        <!-- Conversations -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Conversations<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="item in convos" ng-click="setConversation(item.id); setMessageType('not_Channel')">{{ item.first_name }} {{ item.last_name }}</li>
          </ul>
        </div>
        
        <!-- Users -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="item in users" ng-click="createConversation(item.id)">{{ item.first_name }} {{ item.last_name }} <span class="glyphicon glyphicon-plus"></span></li>
          </ul>
        </div>
</div>
<!--
<div>
    <div class="sidebar">
​
        <div class="slack-name">
            <h2>FireSlack</h2>
        </div>
​
​
        <div class="channel-list">
            <div class="list-head">Channels</div>
            <div class="channel" ng-repeat="channel in channels">
                <a ng-click="setChannel(channel.id)"># {{ channel.name }}</a>
            </div>
​
            <div class="list-head">Direct Messages</div>
            <div class="channel" ng-repeat="item in convos">
                <a ng-click="setConversation(item.id)" ui-sref-active="selected">
                    <span class="presence"></span>
                    {{ item.first_name }} {{ item.last_name }}
                </a>
            </div>
​
            <div class="list-head">Users</div>
            <input type="text" ng-model="search_term" class="form-control" placeholder="Search">
​
            <div class="channel" ng-repeat="item in users | filter: search_term">
                <a ng-click="createConversation(item.id)" ui-sref-active="selected">
                    <span class="presence"></span>
                    {{ item.first_name }} {{ item.last_name }}
                </a>
            </div>
        </div>

    </div>-->
​
    <!--<div class="message-pane">
      <ui-view></ui-view>
    </div>-->
    <div class="message-pane">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
​
        <div class="message-wrap" ng-repeat="message in messages">
            <img class="user-pic" ng-src="{{ message.picture }}"/>
​
            <div class="message-info">
                <div class="user-name">
                    {{ message.sender_first_name }} {{ message.sender_last_name }}
                    <span class="timestamp">{{ message.time }}</span>
                </div>
                <div class="message">
                    {{ message.message }}
                </div>
            </div>
        </div>
​
        <form ng-show="message_bar" class="message-form" ng-submit>
​
            <div class="input-group">
                <input type="text" class="form-control" ng-model="message" placeholder="Type a message...">
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="sendMessage()" type="submit">Send</button>
    </span>
            </div>
​
        </form>
    </div>
​
</div>