<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>Sportal - Game On!</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

     <!-- Angular jss -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular/angular-route.js"></script>
    <script src="components/angular/angular-animate.js"></script>
    <script src="components/angular/angular-aria.min.js"></script>
    <script src="components/angular/angular-messages.min.js"></script>
    <script src="components/angular/pusher.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>     

    <!-- Jquery -->
    <script src="components/jQuery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <!-- Other Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

     <!-- JS Plugin for Loading Bar -->
    <script src="scripts/js/loading-bar.min.js"></script>

    <!-- JS Plugin for Validation -->
    <script src="components/validation/validator.min.js"></script>
    <script src="components/validation/moment.js"></script>
    <script src="components/validation/bootstrap-datetimepicker.min.js"></script>

    <!-- MUI -->
    <link href="components/mui/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="components/mui/mui.min.js"></script>

    <!-- CSS -->
    <link type="text/css" href="styles/dashboard.css" rel="stylesheet">
    <link type="text/css" href="styles/loading-bar.min.css" rel="stylesheet">

    <script src="components/angular/scrollglue.js"></script>

</head>
<body ng-controller="DashboardController">
<!-- -->
    <div class="absolute-wrapper"> </div>
    <!-- Menu -->
    <div class="side-menu">
    
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Brand -->
            <div class="brand-name-wrapper">
                <img style="margin-left: 42px; padding-top: 20px;" src="http://i.imgur.com/V9prv4f.png" width="60%">
            </div>

        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <li><a is-active-nav href="#/search"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
            <li><a is-active-nav href="#/user_profile/{{ $root.userObject.id }}"><span class="glyphicon glyphicon-user"></span> PROFILE</a></li>

            <!-- Dropdown-->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" data-target="#dropdown-lvl1">
                    <span style="padding-right: 15px"><i class="fa fa-users"></i></span> TEAM <span class="caret"></span>
                </a>

                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a is-active-nav href="#/team_create">Create a new team</a></li>
                            <li><a is-active-nav href="#/join_team">Join an existing team</a><li>
                            <li ng-repeat="item in teams"><a href="#/team_profile/{{ item.name }}">{{ item.name }}</a>
                        </ul>
                    </div>
                </div>
            </li>

            <li><a is-active-nav href="#/play"><span style="padding-right: 15px"><i class="fa fa-futbol-o"></i></span> PLAY</a></li>
            <li><a is-active-nav href="#/games"><span class="glyphicon glyphicon-object-align-horizontal"></span> GAMES</a></li>
            <!--<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" data-target="#dropdown-lvl2">
                    <span style="padding-right: 15px"><i class="fa fa-calendar"></i></span> EVENTS<span class="caret"></span>
                </a>

                 Dropdown level 1 
                <div id="dropdown-lvl2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a is-active-nav href="#/event_create">Create an event</a></li>
                            <li ng-repeat="item in events"><a is-active-nav href="#/events/{{ item.name }}">{{ item.name }}</a>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a is-active-nav href="#/admin"><span class="glyphicon glyphicon-cog"></span> ADMIN</a></li>-->
            <li><a is-active-nav href="#/messages"><span class="glyphicon glyphicon-envelope"></span> MESSAGING</a></li>



        </ul>


    </div><!-- /.navbar-collapse -->
</nav>
    
        <div id="footer" >
            <p>&copy; Copyright 2016 - IT Garage</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="side-body">
        <div class="head-information">
            <!--Header information here-->
            <a href="#/"><div class="tool-butt">
                <i id="home_icon" class="fa fa-home fa-lg"></i>
            </div></a>

            <div id="mobile_menu" class="outer-menu">
			  <input class="checkbox-toggle" type="checkbox" />
			  <div class="hamburger">
			    <div></div>
			  </div>
			  <div class="menu">
			    <div>
			      <div>
			        <ul>
                        <li><a class="mobile_link" href="#/search">SEARCH</a></li>
			            <li><a class="mobile_link" href="#/user_profile/{{ $root.userObject.id }}">PROFILE</a></li>
			            <li><a class="mobile_link" href="#/play">PLAY</a></li>
			            <li><a class="mobile_link" href="#/games">GAMES</a></li>
			            <li><a class="mobile_link" href="#/admin">ADMIN</a></li>
			            <li><a class="mobile_link" href="#/messages">MESSAGING</a></li>
        			</ul>
			      </div>
			    </div>
			  </div>
			</div>

            <div class="tool-name">
                <p>{{ $root.page_name }}</p>
            </div>

            <div id="cog" class="btn-group dropdown">
	            <div class="tool-butt" style="float: right; border-right: none; border-left: 1px solid #e7e7e7;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                <i class="fa fa-cog fa-lg"></i>
	            </div>
	            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
				    <li><a href="#/admin">Admin</a></li>
				    <li><a href="#/search">Search</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a ng-click="logout()">Logout</a></li>
  				</ul>
	        </div>

            <div id="notif" class="btn-group dropdown">
	            <div class="tool-butt" style="float: right; border-right: none; border-left: 1px solid #e7e7e7;" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                <i class="fa fa-bell fa-lg"></i>
	                <span class="label label-danger" ng-show="notification_counter>0">{{ notification_counter }}</span>
	            </div>  
	            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <li ng-repeat="item in notifications | filter:{is_read:'0'} | orderBy:'-time'"><a ng-click="is_read_set(item)" class="new-message" href="{{item.link}}"><i class="fa fa-exclamation"></i>{{item.notification}}</a></li>
                    <li ng-show="notification_counter>0" role="separator" class="divider"></li>
                    <li ng-repeat="item in notifications | filter:{is_read:'1'} | orderBy:'-time'"><a href="{{item.link}}">{{item.notification}}</a></li>
  				</ul>
	        </div>

	        <a href="#/messages"><div id="chat" class="btn-group dropdown">
	           <div class="tool-butt" style="float: right; border-right: none; border-left: 1px solid #e7e7e7;" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	                <i class="fa fa-comment fa-lg"></i>
	                <span ng-show="message_counter>0" data-min="0" class="label label-danger">{{ message_counter }}</span>
	            </div>
	            <!--<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu3">
				    <li><a class="new-message" href="#"><i class="fa fa-exclamation"></i>New Message</a></li>
				    <li><a href="#">Message Here</a></li>
				    <li><a href="#">Message Here</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#/messages">Go to Messages</a></li>
  				</ul>-->
	        </div></a>  

        </div>
    </div>

    <div class="side-body" ng-view>
           <!-- Angular Controller Here -->

    </div>
</div>
<!-- -->
</body>


<!-- Scripts -->
<script src="scripts/js/app.js"></script>
<script src="scripts/js/services.js"></script>
<script src="scripts/homeController.js"></script>
<script src="scripts/team_createController.js"></script>
<script src="scripts/join_teamController.js"></script>
<script src="scripts/team_profileController.js"></script>
<script src="scripts/user_profileController.js"></script>
<script src="scripts/errorController.js"></script>
<script src="scripts/playController.js"></script>
<script src="scripts/searchController.js"></script>
<script src="scripts/js/dashboard.js"></script>
<script src="scripts/adminController.js"></script>
<script src="scripts/eventsController.js"></script>
<script src="scripts/gamesController.js"></script>
<script src="scripts/event_createController.js"></script>
<script src="scripts/channelController.js"></script>
<script src="scripts/pusherController.js"></script>
<script src="scripts/js/locationpicker.jquery.js"></script>
</html>