<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="sportForm">
            <div class="well">
                <div>
                    <h2>Add a Sport</h2>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Sport Name</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="sport_name" type="text" class="form-control"
                                   placeholder="Sport Name" required>

                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Number of Members</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="members_required" type="number" min="1" class="form-control"
                                   placeholder="Members Required" required>

                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Number of Teams</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="teams_required" type="number" class="form-control"
                                   min="1" placeholder="Teams Required" required>

                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" class="form-group">
                        <button type="submit" ng-click="createSport()" class="btn btn-success btn-block">Create Sport
                        </button>
                        <h4 class="text-center">{{ createSportResult }}</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="facilityForm">
            <div class="well">
                <div>
                    <h2>Add a Facility</h2>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Facility Name</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="facility_name" type="text" class="form-control"
                                   placeholder="Name" required>

                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Facility Address</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="facility_address" type="text" class="form-control"
                                   placeholder="Address" required>

                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" class="form-group">
                        <button type="submit" ng-click="createFacility()" class="btn btn-success btn-block">Create
                            Facility
                        </button>
                        <h4 class="text-center">{{ createFacilityResult }}</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
