
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.play-slide{
    height: 500px;
    background-color: #eeeeee !important;
    border-left: none;
}
.carousel-control:focus, .carousel-control:hover {
    color: #FCAE28;
}
.carousel-control {
    font-size: 20px;
    color: #FCAE28;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}