    <link href="css/landing.css" rel="stylesheet">

    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    </head>

    <div class="videooverlay"></div>
    <!-- Header -->
    <div id="header">
        <div class="row">
            <div class="span12">
                <p style="color: white; float: left;">Version 1.0</p>
                <a class="button" data-toggle="modal" data-target="#registerModal" style="float: right;">SIGNUP</a>
        <a class="button button" id="modelButton" data-toggle="modal" data-target="#loginModal" style="float:right;">LOGIN</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Start Top -->
    <div class="className">
        <img src="images/logo-white.png" width="70%" style="margin-bottom: -10px;" />
        <h4 style="color:white;">The next best thing in recreational sports</h4>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Register Now!</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="registerForm">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" ng-model="first_name" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" required>
                                    <div class="help-block with-errors"></div>
                                    <!-- <p style="color: red">{{ first_name_error }}</p>-->
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" ng-model="last_name" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" required>
                                    <div class="help-block with-errors"></div>
                                    <!--<p style="color: red">{{ last_name_error }}</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" ng-model="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                                <div class="help-block with-errors"></div>
                                <!--<p style="color: red">{{ email_error }}</p>-->
                                <p style="color: red">{{ email_exists_error }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" ng-model="password" name="password" id="password" class="form-control input-sm" placeholder="Password" data-minlength="8" required>
                                    <div class="help-block with-errors"></div>
                                    <!--<p style="color: red">{{ password_error }}</p>-->
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" ng-model="pw_confirm" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" data-match="#password" data-match-error="Passwords Do Not Match" required>
                                    <div class="help-block with-errors"></div>
                                    <!--<p style="color: red">{{ pw_confirm_error }}</p>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <form data-toggle="validator" id="myForm" role="form">
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Email</label>
                            <input type="email" class="form-control" ng-model="loginEmail" id="inputEmail" placeholder="Email" data-error="That email address is invalid" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">Password</label>
                            <input type="password" data-minlength="8" class="form-control" ng-model="loginPassword" id="inputPassword" placeholder="Password" required>
                            <span class="help-block">Minimum of 8 characters</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>


    <!-- End footer -->

    <script src="js/respond.min.js"></script>
    <script src="js/scripts.js"></script>
    <script defer src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script type='text/javascript' src='js/basic.js'></script>
    <script type='text/javascript' src="js/noframework.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>

    <link type='text/css' href='css/basic.css' rel='stylesheet' media='screen' />
    <!--[if lte IE 7]><script src="css/lte-ie7.js"></script><![endif]-->



