<link href="css/play.css" rel="stylesheet">

<div class="row" style="height: 110px; background-color: white; border-bottom: 1px solid #e7e7e7;">
    <div class="row">
        <div class="col-md-6">
            <h2 style="padding-left: 15px;">Challenge People to a Game</h2>

            <p style="padding-left: 15px;">Get matched with potential players and teams</p>
        </div>
        <div class="col-md-6" style="text-align: center; padding-top: 22px;">
            <h3><b><a href="/play/#myCarousel" role="button" data-slide-to="0">{{ pickSport }}</a></b>
            <i style="padding-right: 10px; padding-left: 10px;" class="fa fa-chevron-right"></i>
            <b><a href="/play/#myCarousel" role="button" data-slide-to="1">{{ pickTier }}</a></b>
            <i style="padding-right: 10px; padding-left: 10px;" class="fa fa-chevron-right"></i>
            <b><a href="/play/#myCarousel" role="button" data-slide-to="2">{{ pickTeams }}</a></b></h3>
        </div>
    </div>
</div>


<div id="myCarousel" class="carousel slide" data-interval="0">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="/play/#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div style="height: 400px;" class="carousel-inner" role="listbox">
        <div class="item play-slide active">
            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <div class="col-md-12">
                        <div class="mui-panel" style="height: 300px;">
                            <div class="element">
                            <div class="mui--text-button">Choose Your Sport</div>
                            <hr>
                            <div class="btn-group" style="float: none !important;">
                                <button type="button" class="mui-btn mui-btn--large mui-btn--raised mui-btn--primary"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Select Sport
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li class="dropdown-header text-center">My Sports</li>
                                    <!-- ngRepeat: item in mySports -->
                                    <li ng-repeat="item in mySports" ng-click="setSport(item)"><a>{{ item.name }}</a></li>

                                    <li class="dropdown-header text-center">All Sports</li>
                                    <!-- ngRepeat: item in sports -->
                                    <li ng-repeat="item in sports" ng-click="setSport(item)"><a href="">{{ item.name }}</a>
                                    </li>
                                    <!-- end ngRepeat: item in sports -->
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item play-slide">

            <div class="carousel-caption">
                <div class="row text-center" style="height: 300px; margin-top: 15px">
                    <div class="col-md-12">
                        <div class="mui-panel" style="height: 300px;">
                        <div class="element">
                            <div class="mui--text-button">Choose Your Difficulty</div>
                            <hr>
                             <button ng-click="setTier('Novice')" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Novice</button>
                              <button ng-click="setTier('Intermediate')" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Intermediate</button>
                               <button ng-click="setTier('Expert')" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Expert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item play-slide">

            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <div class="col-md-12">
                        <div class="mui-panel" style="height: 300px;">
                            <div class="element">
                            <div class="mui--text-button">Choose Team Size</div>
                            <hr>
                              <button ng-click="setTeams('1 VS 1')" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Singles</button>
                               <button ng-click="loadTeams()" data-toggle="modal" data-target="#teamModal" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Teams</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item play-slide">

            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <div class="col-md-12">
                        <div class="mui-panel" style="height: 300px;">

                            <div class="element">
                            <div class="mui--text-button">Confirm Your Match</div>
                            <hr>
                              <button ng-click="play()" class="mui-btn mui-btn--large mui-btn--primary mui-btn--raised">Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Play Modal -->
    <div class="modal fade" id="playModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">It's a Match!</h4>
                </div>
                <div class="modal-body">
                    <!-- Possible matches table -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Opponent Picture</th>
                            <th> Opponent Name</th>
                            <th> Opponent Profile</th>
                            <th> Challenge</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in matches_list">
                            <td><img src="{{item.picture}}" alt="..." height="40px" width="40px"></td>
                            <td>
                                <div class="mui--text-body2" style="margin-top: 10px; margin-left: 3px;">
                                    {{item.first_name}} {{item.last_name}}
                                </div>
                            </td>
                            <td>
                                <a type="button" target="_blank" class="mui-btn mui-btn--raised mui-btn--small" ng-href="{{link}}">View Profile</a>
                            </td>
                            <td>
                                <button class="mui-btn mui-btn--raised mui-btn--small" ng-click="acceptChallenge(item)"> Challenge
                                </button>
                            </td>
                        </tr>
                        <!-- ngRepeat: item in matches_list -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Select Team Modal -->
    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">Select Your Team</h4>
                </div>
                <div class="modal-body">
                    <!-- Teams table -->
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="item in admin_teams">
                            <td><img src="{{item.picture}}" alt="..." height="40px" width="40px"></td>
                            <td>{{item.name}}</td>
                            <td>
                                <button class="btn btn-default" ng-click="setTeamObject(item)" data-dismiss="modal"> Select
                                </button>
                            </td>
                        </tr>
                        <!-- ngRepeat: item in matches_list -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" style="background-image: none" href="/play/#myCarousel" role="button"
       data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" style="background-image: none" href="/play/#myCarousel" role="button"
       data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>