<link href="css/play.css" rel="stylesheet">

<div class="row">
    <div class="col-md-4">
        <h1><i class="fa fa-circle"></i> {{ pickSport }}</h1>
    </div>
    <div class="col-md-4">
        <h1><i class="fa fa-circle"></i> {{ pickTier}}</h1>
    </div>
    <div class="col-md-4">
        <h1><i class="fa fa-circle"></i> {{ pickTeams }}</h1>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-interval="0">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="/play/#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="/play/#myCarousel" data-slide-to="4" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div style="height: 500px" class="carousel-inner" role="listbox">
        <div style="height: 500px" class="item active">
            <img src="../img/footer_lodyas.png" alt="Chania">

            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Pick
                            Sport
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li class="dropdown-header text-center">My Sports</li>
                            <!-- ngRepeat: item in mySports -->
                            <li class="dropdown-header text-center">All Sports</li>
                            <!-- ngRepeat: item in sports -->
                            <li ng-repeat="item in sports" ng-click="setSport(item)"><a>{{ item.name
                                }}</a></li><!-- end ngRepeat: item in sports -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 500px" class="item">
            <img src="../img/footer_lodyas.png" alt="Chania">

            <div class="carousel-caption">
                <div class="row text-center" style="height: 300px; margin-top: 15px">
                    <div class="col-md-12" style="height: 33%">
                        <button ng-click="setTier('Novice')" style="margin-top: 15px" class="btn btn-primary btn-lg">
                            Novice
                        </button>
                    </div>
                    <div class="col-md-12" style="height: 33%">
                        <button ng-click="setTier('Intermediate')" style="margin-top: 15px"
                                class="btn btn-primary btn-lg">
                            Intermediate
                        </button>
                    </div>
                    <div class="col-md-12" style="height: 33%">
                        <button ng-click="setTier('Expert')" style="margin-top: 15px" class="btn btn-primary btn-lg">
                            Expert
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 500px" class="item">
            <img src="../img/footer_lodyas.png" alt="Flower">

            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <div class="row" style="height: 50%">
                        <button ng-click="setTeams('1 VS 1')" class="btn btn-primary btn-lg">1 VS 1</button>
                    </div>
                    <div class="row" style="height: 50%">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle btn-lg"
                                    data-toggle="dropdown">Teams
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                <li><a ng-click="setTeams('2 VS 2')">2 VS 2</a></li>
                                <li><a ng-click="setTeams('3 VS 3')">3 VS 3</a></li>
                                <li><a ng-click="setTeams('4 VS 4')">4 VS 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 500px" class="item">
            <img src="../img/footer_lodyas.png" alt="Flower">

            <div class="carousel-caption">
                <div class="text-center" style="height: 300px; margin-top: 15px">
                    <button ng-click="play()" class="btn btn-success btn-lg">Play!</button>
                </div>
            </div>
        </div>

        <div style="height: 500px" class="item">
            <img src="../img/footer_lodyas.png" alt="Flower">

            <div class="carousel-caption">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> Opponent Picture</th>
                        <th> Opponent Name</th>
                        <th> Opponent Profile</th>
                        <th> Challenge</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in matches_list">
                        <td><img src="{{item.picture}}" alt="..." height="40px" width="40px"></td>
                        <td>{{item.first_name}} {{item.last_name}}</td>
                        <td>
                            <button class="btn btn-default" href="#/user_profile/{{item.id}}"> View Profile</button>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-click="acceptChallenge(item.id, item.email)"> Challenge
                            </button>
                        </td>
                    </tr>
                    <!-- ngRepeat: item in matches_list -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="/play/#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="/play/#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--<div class="row">-->
<!--<div class="well" style="height: 400px">-->


<!--<div class="col-md-3">-->
<!--<div class="well text-center" style="height: 300px; margin-top: 15px">-->
<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Pick Sport-->
<!--<span class="caret"></span></button>-->
<!--<ul class="dropdown-menu scrollable-menu" role="menu">-->
<!--<li class="dropdown-header text-center">My Sports</li>-->
<!--&lt;!&ndash; ngRepeat: item in mySports &ndash;&gt;-->
<!--<li class="dropdown-header text-center">All Sports</li>-->
<!--&lt;!&ndash; ngRepeat: item in sports &ndash;&gt;-->
<!--<li ng-repeat="item in sports" ng-click="setSport(item)"><a>{{item.name}}</a>-->
<!--</li>&lt;!&ndash; end ngRepeat: item in sports &ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<h3>Sport: {{pickSport}}</h3>-->
<!--</div>-->

<!--<div class="col-md-3">-->
<!--<div class="well row text-center" style="height: 300px; margin-top: 15px">-->
<!--<div class="col-md-12" style="height: 33%">-->
<!--<button ng-click="setTier('Novice')" style="margin-top: 15px" class="btn btn-primary">Novice-->
<!--</button>-->
<!--</div>-->
<!--<div class="col-md-12" style="height: 33%">-->
<!--<button ng-click="setTier('Intermediate')" style="margin-top: 15px" class="btn btn-primary">-->
<!--Intermediate-->
<!--</button>-->
<!--</div>-->
<!--<div class="col-md-12" style="height: 33%">-->
<!--<button ng-click="setTier('Expert')" style="margin-top: 15px" class="btn btn-primary">Expert-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<h3>Tier: {{pickTier}}</h3>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<div class="well text-center" style="height: 300px; margin-top: 15px">-->
<!--<div class="row" style="height: 50%">-->
<!--<button ng-click="setTeams('1 VS 1')" class="btn btn-primary">1 VS 1</button>-->
<!--</div>-->
<!--<div class="row" style="height: 50%">-->
<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Teams-->
<!--<span class="caret"></span></button>-->
<!--<ul class="dropdown-menu scrollable-menu" role="menu">-->
<!--<li><a ng-click="setTeams('2 VS 2')">2 VS 2</a></li>-->
<!--<li><a ng-click="setTeams('3 VS 3')">3 VS 3</a></li>-->
<!--<li><a ng-click="setTeams('4 VS 4')">4 VS 4</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<h3>Teams: {{pickTeams}}</h3>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<div class="well text-center" style="height: 300px; margin-top: 15px">-->
<!--<button ng-click="play()" class="btn btn-success">Play!</button>-->
<!--</div>-->
<!--<h3>{{ playResult }}</h3>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th> Opponent Picture</th>-->
<!--<th> Opponent Name</th>-->
<!--<th> Opponent Profile</th>-->
<!--<th> Challenge</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="item in matches_list">-->
<!--<td>{{item.picture}}</td>-->
<!--<td>{{item.first_name}} {{item.last_name}}</td>-->
<!--<td></td>-->
<!--<td> Insert Button</td>-->
<!--</tr>-->
<!--&lt;!&ndash; ngRepeat: item in matches_list &ndash;&gt;-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
