<h1>team_profile Page</h1>

<div class="row">
	<div class="col-md-6">
		<h3 class="text-center">All Sports</h3>
		<hr>
		<div>
			<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" ng-model="searchTerm"/>
		</div>
		<br>
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr ng-repeat="item in allSports | filter:searchTerm">
					<td>{{ item.name }}</td>
					<td><button class="btn btn-primary"ng-click="addSport(item)" style="float: right">Add</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">My Sports</h3>
		<hr>
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr ng-repeat="item in mySports">
					<td>{{ item.name }}</td>
					<td>
					    <select class="selectpicker" data-header="Select a Difficulty">
					        <option><button>Novice</button></option>
					        <option><button>Intermediate</button></option>
					        <option><button>Expert</button></option>
						</select>
					</td>
					<td><button class="btn btn-danger" ng-click="deleteSport(item)" style="float: right">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form id="inviteForm">
            <div class="well">
                <div>
                    <h2>Invite a Friend</h2>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Email</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="email" type="text" class="form-control"
                                   placeholder="Enter Email" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Your Team Name</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="team_name" type="text" class="form-control"
                                   placeholder="Enter Password" data-minlength="8" required>
                        	<div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="signup control-label">Password</label>

                        <div class="row">
                            <div class="col-md-12">
                                <input ng-model="team_password" type="password" id="password" class="form-control"
                                       placeholder="Enter Password" data-minlength="8" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="signup control-label">Retype Password</label>

                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="confirm_password" type="password" class="form-control"
                                   placeholder=" Retype Password" data-match="#password" data-match-error="Passwords Do Not Match" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4" class="form-group">
                        <button type="submit" ng-click="createTeam()" class="btn btn-success btn-block">Send Message
                        </button>
                        <h4 class="text-center">{{ createTeamResult }}</h4>
                        <h4 class="text-center" style="color: red">{{ team_name_exists_error }}</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" href="js/sportsDifficulty.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />