<h1>team_profile Page</h1>

<div class="row">
	<div class="col-md-6">
		<h3 class="text-center">All Sports</h3>
		<hr>
		<div>
			<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" ng-model="searchTerm"/>
		</div>
		<br>
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr ng-repeat="item in allSports | filter:searchTerm">
					<td>{{ item.name }}</td>
					<td><button class="btn btn-primary"ng-click="addSport(item)" style="float: right">Add</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3 class="text-center">My Sports</h3>
		<hr>
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr ng-repeat="item in mySports">
					<td>{{ item.name }}</td>
					<td>
					    <select class="selectpicker" data-header="Select a Difficulty">
					        <option><button>Novice</button></option>
					        <option><button>Intermediate</button></option>
					        <option><button>Expert</button></option>
						</select>
					</td>
					<td><button class="btn btn-danger" ng-click="deleteSport(item)" style="float: right">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" href="js/sportsDifficulty.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />