<div class="row" style="height: 110px; background-color: white; border-bottom: 1px solid #e7e7e7;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="padding-left: 15px;">Administrative Settings</h2>
            <p style="padding-left: 15px;">Here you will find additional settings for managing this service.</p>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding-top: 25px; background-color: #EDF2F6;">
    <div class="mui-container">
    <h5 style="color: #757E8D;"><b>CREATE SPORT</b></h5>
        <div class="mui-panel">
            <p style="padding-top: 5px;">Create a type of sport that players can play.</p>
            <br />
            <form id="sportForm">
                <div class="form-group">
                    <div class="row">
                        <div style="margin-bottom: 0" class="mui-textfield col-md-12">
                            <input ng-model="sport_name" type="text" placeholder="Sport Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div style="margin-bottom: 0" class="mui-textfield col-md-12">
                            <input ng-model="members_required" type="number" min="1" placeholder="# of Members Required" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div style="margin-bottom: 0" class="mui-textfield col-md-12">
                            <input ng-model="teams_required" type="number" min="1" placeholder="# of Teams Required" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4" class="form-group">
                        <h4 class="text-center">{{ createSportResult }}</h4>
                    </div>
                </div>
                <div style="padding-right: 15px; padding-bottom: 35px;">
                    <button ng-click="createSport()" class="mui-btn mui-btn--primary mui-btn--raised" style="float: right;">Create
                    </button>
                </div>
        </div>
    </div>
    </form>
</div>
</div>
<div class="col-md-12" style="padding-top: 25px; background-color: #EDF2F6;">
    <div class="mui-container">
    <h5 style="color: #757E8D;"><b>CREATE FACILITY</b></h5>
        <div class="mui-panel">
            <p style="padding-top: 5px;">Create a facility in which games and sports can take place.</p>
            <br />

            <form id="facilityForm">
                <div class="form-group">
                    <div class="row">
                        <div style="margin-bottom: 0" class="mui-textfield col-md-12">
                            <input ng-model="facility_name" type="text" placeholder="Facility Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div style="margin-bottom: 0" class="mui-textfield col-md-12">
                            <input ng-model="facility_address" type="text" placeholder="Facility Address" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4" class="form-group">
                        <h4 class="text-center">{{ createFacilityResult }}</h4>
                    </div>
                </div>
                <div style="padding-right: 15px; padding-bottom: 35px;">
                    <button ng-click="createFacility()" class="mui-btn mui-btn--primary mui-btn--raised" style="float: right;">Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
